body {
  overflow-x: hidden;
  padding: 0;
  height: 100vh;
  background-image: url("http://surl.li/jqkvw");
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

